<div class="container">
  <fieldset>
    <legend>Login Form</legend>
    <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
      <div class="form-group">
        <label for="role">Role:</label>
        <select id="role" formControlName="role">
          <option value="admin">admin</option>
          <option value="tester">tester</option>
          <option value="dev">dev</option>
        </select>
        @if (role?.invalid && (role?.dirty || role?.touched)) {
        <div>
          @if (role?.hasError('required')) {
          <small>Role is required</small>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="text" id="password" formControlName="password" />
        @if (password?.invalid && (password?.dirty || password?.touched)) {
        <div>
          @if (password?.hasError('required')) {
          <small>Password is required</small>
          }
        </div>
        }
      </div>
      <button type="submit" [disabled]="!loginForm.valid">Sign in</button>
    </form>
  </fieldset>
</div>
